@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --x: 0px;
  --y: 0px;
  --rotate: 0deg;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.paragraph {
  @apply text-xs text-gray-900;
}

.title {
  @apply text-xl font-semibold text-gray-900;
}

.subtitle {
  @apply text-lg text-gray-600;
}

.area {
  opacity: 1;
}
/* .area:hover {
  transform: rotateX(0deg) rotateZ(0deg);
  background-color: #f9aaab;
} */

.grid-container {
  display: grid;
  grid-template: 
    "a a a b b" 
    "c d d d e" 
    "f f f g g";
  width: 100%;
  height: 100%;
  gap: 10px;
  align-items: center;
  justify-items: center;
}

@media (width <= 1024px) {
  .grid-container {
    grid-template: 
      "a b" 
      "c d" 
      "e f"
      "g g";
  }
}

@media (width <= 768px) {
  .grid-container {
    grid-template: 
      "a a" auto
      "b b" auto
      "c c" auto
      "d d" auto
      "e e" auto
      "f f" auto
      "g g" auto;
  }
}



.a {
  grid-area: a;
  background-color: #f9aaab;
}

.b {
  grid-area: b;
  background-color: #f9aaab;
}

.c {
  grid-area: c;
  background-color: #f9aaab;
}

.d {
  grid-area: d;
  background-color: #f9aaab;
}

.e {
  grid-area: e;
  background-color: #f9aaab;
}

.f {
  grid-area: f;
  background-color: #f9aaab;
}

.g {
  grid-area: g;
  background-color: #f9aaab;
}

.grid-container > div {
  background-color: rgba(2, 123, 219, 0.8);
  text-align: center;
  padding: 0;
  font-size: 30px;
  border-radius: 5px;
  justify-content: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}