.background-video {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  max-width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: top center;
  top: 0;
  left: 0;
}
